:root {
  --main-background-color: rgb(241, 241, 241);
  --accent-background-color: rgb(201, 201, 201);

  --main-color: rgb(0, 0, 0);
  --accent-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', sans-serif;
  background-color: var(--main-background-color);
}



/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: rgb(0, 0, 0);
    --accent-background-color: rgb(40, 40, 40);

    --main-color: rgb(255, 255, 255);
    --accent-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
  }
}

* {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

hr {
  border: 1px solid var(--accent-background-color);
}