:root {
  --main-background-color: rgb(241, 241, 241);
  --light-accent-color: rgb(232, 232, 232);
  --accent-background-color: rgb(201, 201, 201);
  font-family: 'Trebuchet MS', sans-serif;
  background-color: var(--main-background-color);
}

hr {
  border: 1px solid var(--accent-background-color);
}